/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.0);
  --animation-color: #eaa943;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  margin-right: 15px;
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  white-space: nowrap;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}




/*ButtonSubmit*/
.buttonSubmit {
  background: var(--color-back);
  border: 2px solid rgba(52,63,82,255);
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 18px;
  padding: 0.7em 1.7em;
  outline: none;
  user-select: none;
  outline: none;
  transition: all 0.3s;
}

.buttonSubmit:hover {
    border: 2px solid #eaa943;
    box-shadow: 2px 2px 2px #eaa943;
    transition: 0.4s;
}


.buttonSubmit_text {
  color: rgba(235,166,66,255);
  font-weight: 700;
  display: inline-block;
  transition: transform 0.3s;
}

.buttonSubmit:hover .buttonSubmit_text {
  transform: scale(0.9);
}

.buttonSubmit:active .buttonSubmit_text {
  transform: scale(0.8);
}
